@import url(../../../index.css);


button{
    background-color: var(--lightGrey);
    color: var(--blueGrey);
    font-weight: bold;
    font-size: 1rem;
    border-radius: 40px;
    border: none;
    min-width: 400px; ;
    height: 45px;
}

button:disabled{
    background-color: var(--grey);
}