@import url(../../../../index.css);

.leftSidebarContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 96vh;
  margin: 15px;
  /* max-width: 300px; */
  font-size: 1.2rem;
}

/* Top Container */
.leftSidebarContainerTop {
  display: flex;
  flex-direction: column;
}
.leftSidebarElementsContainer {
  margin: 10px 0px;
}
.leftSidebarElementsContainer span {
  padding: 0px 10px;
}
.leftSidebarElements {
  padding: 10px;
  display: inline-block;
}
.leftSidebarElements:hover {
  transition-property: font-size;
  transition-duration: 200ms;
  font-size: 1.4rem;
  cursor: pointer;
}

/* Bottom Container */
.leftSidebarContainerBottom {
  display: flex;
  justify-content: space-between;
}
.leftSidebarContainerBottom:hover {
  cursor: pointer;
}
.logoutContainerLeft {
  width: 80%;
}
.logoutContainerLeft > img {
  margin: 0px 10px;
  width: 50px;
  float: left;
}
.logoutContainerLeft p {
  font-weight: bold;
}
.logoutContainerLeft span {
  font-size: 1rem;
  color: var(--grey);
}
.logoutContainerRight > i {
  margin: 10px 15px 10px 10px;
  color: var(--twitterBlue);
}
