@import url(../../../index.css);

.textBox {
  height: 40px;
  padding: 7px;
  border: 1px solid var(--secondaryBtnBorder);
  color: var(--white);
  background-color: var(--black);
  width: 100%;
  border-radius: 5px;
}
.textBox:focus {
  outline: none;
  border: 3px solid var(--twitterBlue) ;
}
