*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, 'Segoe UI';
    background-color: var(--black);
    /* background-color: rgba(0, 128, 0, 0.185); */
    color: var(--white);
}

:root{
    --twitterBlue :rgb(29, 155, 240);
    --black:rgb(0, 0, 0);
    --white:rgb(239, 243, 244);
    --grey:rgb(120, 122, 122);

    /* buttons */
    --primaryBtnHover:rgb(215, 219, 220);
    --secondaryBtnBorder:rgb(83, 100, 113);
    --secondaryBtnHover: rgb(24, 25, 25);
}